:root{
    --a:16;
    --color:pink;
}

.container{
    width:500px;
    height: 500px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat( var(--a), 1fr);
    grid-template-rows: repeat( var(--a), 1fr);
}
.item{
    background: #f3f3f3ec;
}
body{
    background: white;
}
button{
    margin: 10px auto;
    display:block;
    padding: 4px 20px;
    background: #ccc;
    font-size: large;
    color:#4a4a4a;
    font-weight: bold;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.19);
    border: 1px solid #ccc;
    border-radius: 5px;
}