:root{
    --a:16;
}
.container{
    grid-column: 2/4;
    grid-row: 2/4;
    width:500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat( var(--a), 1fr);
    grid-template-rows: repeat( var(--a), 1fr);
}
.item{
    background: #f3f3f3ec;
}
body{
    background: white;
    display: grid;
}
.clear{
    grid-column: 2/4;
    grid-row: 1/2;
    width: 150px !important;
}
.clear, button{
    width: 300px;
    margin: 10px auto;
    padding: 4px 20px;
    background: #ccc;
    font-size: large;
    color:#4a4a4a;
    font-weight: bold;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.19);
    border: 1px solid #ccc;
    border-radius: 5px;
    display:block;
} 

.advert{
    grid-column: 1/2;
    grid-row: 2/4;
}